/* Add styling for your page here */

.App {
    margin: 1em; 
}

.bakeryItem {
    background-color: gray;
    color: gray;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}